{% extends 'index.html' %}
{% block Artic %}
	<a href="/">
		<h4> {{ Article.article_title }} </h4>
	</a>
	<p> {{ Article.article_text }} </p>
	<h6>Дата и время публикации {{ Article.article_date }} </h6>
	<hr>
	<p>Комментарии</p>
	{% for c in comment %}
		<h5> {{ c.comment_name }} </h5>
		<h5> {{ c.comment_text }} </h5>
	{% endfor %}
	{% if username %}
	<form action="/article/addcomment/{{ Article.id }}/" method="post">
		{% csrf_token %}
		{{form}}
		<input type="submit" class="button" value="Добавить комментарий">
	</form>	
	{% endif %}
{% endblock %}